doctype html
html
  head
    link(rel="stylesheet" media="screen and (max-width: 1750px)" href="static/response.css")
    title  Supriyo NGO Website
    style
      include ../static/call.css
  body
    div.contc
     div.edittc
      h2 CALL US
      div.editpc
        p Phone Number 
        p Mob1- 7246734810
        p Mob2- 987867880
        li #[a(href="/") BACK TO HOME]