doctype html
html
  head
    link(rel="stylesheet" media="screen and (max-width: 1750px)" href="static/response.css")
    title  Supriyo NGO Website
    style
      include ../static/home.css
  body
    nav#navbar
        ul
         div.navedit
            div#logo
                img(src="/static/img/d.png")
                |NGO
            div.navbaredit
              li #[a(href="#") Home]
              li #[a(href="#") About]
              li #[a(href="#") Contact us]
    section#container
      div.boxx
       h1  AI DOESN'T HAVE TO BE EVIL TO REACH IMMUNITY.
            div.card
                h3 SUPRIYO NGO
                div.cardbox
                        img(src="/static/img/a.png")
       div.form
        h3 To Proceed Please click any one Button from Below.
         ul
          li
           a(href='/book') Book a Demo
          li
           a(href='/call') Call us
          li
           a(href='/reach') Reach at us
    section#sponsorsection
        h2 Connect with us At!
            div#sponsors
                    img(src="/static/img/a.jpg", alt="sponsor image",class="spIMG")
                    img(src="/static/img/b.jpg", alt="sponsor image",class="spIMG")
                    img(src="/static/img/c.jpg", alt="sponsor image",class="spIMG")
                    img(src="/static/img/d.jpg", alt="sponsor image",class="spIMG")
    //- footer#foot
    //-     div.navbareditt
    //-       P Important links:-
    //-       li #[a(href="/") Home]
    //-       li #[a(href="/about") About]
    //-       li #[a(href="/contact") Contact us]
    //-       div#logo
    //-           img(src="/static/img/d.png")
    footer
      div.column
        h3 Important links
        ul
          li
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Contact
        div#logoo
              img(src="/static/img/d.png")
