doctype html
html
  head
    link(rel="stylesheet" media="screen and (max-width: 1750px)" href="static/response.css")
    title  Supriyo NGO Website
    style
      include ../static/reach.css
  body
    div.contr
      div.edittr
        h2 REACH US AT
        div.editpr
          p ADDRESS:-
          p THAKUR VILLAGE,KANDIVALI
          P MUMBAI,MAHARASHTRA
          p 400101
          li #[a(href="/") BACK TO HOME]