*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.contr{
    min-height: 100vh;
    background-color: #617489;
}

h2{
    text-align: center;
    padding-top: 23px;
    color: #2c261e;
    font-size: 40px;
}
.editpr{
    height: 680px;
    width: 600px;
    border: 2px solid #617489;
    margin: auto;
    margin-top: 30px;
    background-color: #627ca1;
}
p{
    font-size: 30px;
    font-family: sans-serif;
    margin: 80px 50px;
}
.editpr li{
    font-size: 30px;
    font-family: sans-serif;
    margin: 74px 30px;
}